* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    text-align: center;
    background-color: #f4f4f4;
}

img {
    width: 90px;
    display: flex;
    align-items: left;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #219ebc;
    color: white;
    font-size: 24px;
}

#controle-calendario {
    margin: 20px 0;
}

#mes-atual {
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
    display: inline-block;
    min-width: 120px;
}

button {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

select {
    padding: 10px;
    font-size: 16px;
}

table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border-collapse: collapse;
    background: white;
}

th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

td {
    background-color: #f9f9f9;
    cursor: pointer;
}

td:hover {
    background-color: #d0e3ff;
}

footer {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
