/* Reset e estilo base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html,
body {
    height: 100%;
    background-color: #f4f4f4;
}

/* Estrutura geral da página */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #219ebc;
    color: white;
    font-size: 24px;
}

img {
    width: 90px;
    margin-right: 10px;
}

.container {
    display: flex;
    flex: 1;
    min-height: 0;
    /* previne overflow em telas pequenas */
}

/* Sidebar */
aside {
    width: 250px;
    background-color: #1d5261;
    color: white;
    transition: width 0.3s ease;
    overflow: hidden;
    position: relative;
    padding-top: 50px;
    flex-shrink: 0;
}

aside.collapsed {
    width: 60px;
}

#toggle-menu {
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
}

aside.collapsed #toggle-menu {
    left: 15px;
}

/* Navegação do menu */
aside nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside nav ul li {
    text-align: center;
    margin: 10px 0;
}

aside nav ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
    font-size: 18px;
    color: white;
    text-decoration: none;
    gap: 10px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

aside nav ul li a:hover {
    background-color: #112d36;
}

/* Texto do menu */
.menu-text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.3s ease, width 0.3s ease;
    opacity: 1;
    width: auto;
}

aside.collapsed .menu-text {
    opacity: 0;
    width: 0;
}

aside.collapsed nav ul li {
    text-align: center;
}

aside.collapsed h4 {
    display: none;
}

/* Conteúdo principal */
.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Seções dentro do conteúdo */
.content>section {
    flex: 1;
}

/* Rodapé */
footer {
    padding: 10px;
    background-color: #219ebc;
    color: white;
    text-align: center;
}