{% extends "login/base_form.html" %}
{% block title %}Redefinir Senha{% endblock %}
{% block form_title %}Redefinir sua Senha{% endblock %}
{% block form_content %}
    <p style="text-align: left; margin-bottom: 20px;">Digite seu endereço de e-mail abaixo e nós enviaremos as instruções para criar uma nova senha.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary" style="width: 100%; margin-top: 15px;">Enviar Link de Redefinição</button>
    </form>
{% endblock %}