{% extends "base_form.html" %}
{% block title %}Nova Senha{% endblock %}
{% block form_title %}Digite sua Nova Senha{% endblock %}
{% block form_content %}
    {% if validlink %}
        <p style="text-align: left;">Por favor, digite sua nova senha duas vezes para que possamos verificar que você a digitou corretamente.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-primary" style="width: 100%; margin-top: 15px;">Alterar minha senha</button>
        </form>
    {% else %}
        <p style="text-align: left; color: var(--red);">O link de redefinição de senha era inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
    {% endif %}
{% endblock %}