{% extends "base.html" %}
{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Alterar Senha</h1>
</div>
<div class="form-container">
    <p>Por favor, insira sua senha antiga, por segurança, e depois digite sua nova senha duas vezes.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-actions">
            <button type="submit" class="btn-primary">Alterar minha senha</button>
            <a href="{% url 'perfil' %}" class="btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}