{% extends "base_form.html" %}
{% block title %}E-mail Enviado{% endblock %}
{% block form_title %}Verifique seu E-mail{% endblock %}
{% block form_content %}
    <p style="text-align: left;">Enviamos as instruções para redefinição de senha para o seu e-mail, se uma conta com esse endereço existir. Você deve recebê-lo em breve.</p>
    <p style="text-align: left;">Se você não receber um e-mail, por favor, certifique-se de que inseriu o endereço com o qual se registrou e verifique sua pasta de spam.</p>
    <a href="{% url 'login' %}" class="btn-primary" style="width:100%; margin-top:20px; display:block;">Voltar para o Login</a>
{% endblock %}