{% extends "login/base_form.html" %}
{% load static %}

{% block title %}Crie sua Conta{% endblock %}

{% block form_title %}
  <img src="{% static 'img/logo_docacademy_horizontal_clara.png' %}" alt="DocAcademy Logo" class="login-logo">
  <h2>Crie sua Conta</h2>
{% endblock %}

{% block form_content %}
  {% if form.errors %}
    <div class="alert alert-error">
      <p>Por favor, corrija os erros abaixo.</p>
    </div>
  {% endif %}

  <form method="post" class="auth-form">
    {% csrf_token %}

    <div class="form-group">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="form-group">
      {{ form.nome.label_tag }}
      {{ form.nome }}
    </div>
    <div class="form-group">
      {{ form.email.label_tag }}
      {{ form.email }}
    </div>
    <div class="form-group">
      {{ form.password1.label_tag }}
      {{ form.password1 }}
    </div>

    <div class="password-hint">
        <i class="bi bi-info-circle"></i>
        <span>Sua senha deve ter no mínimo 8 caracteres, não pode só números, não pode fazer parte do seu nome de usuário e não pode ser muito comum.</span>
    </div>
    <div class="form-group">

    <div class="form-group">
      {{ form.password2.label_tag }}
      {{ form.password2 }}
    </div>
    <button type="submit" class="btn-primary">Registrar</button>

    <div class="login-links">
      Já tem uma conta? <a href="{% url 'login' %}">Faça o login</a>
    </div>
  </form>
{% endblock %}
