{% if page_obj.paginator.num_pages > 1 or page_obj.paginator.count > 0 %}
<div class="pagination">
    
    <div class="pagination-results-count">
        Mostrando {{ page_obj.start_index }} - {{ page_obj.end_index }} de {{ page_obj.paginator.count }} registro{{ page_obj.paginator.count|pluralize:"s" }}.
    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <span class="step-links">
        {% with p_name=param_name|default:"page" %}
            {% if page_obj.has_previous %}
                <a href="?{% for key, value in request.GET.items %}{% if key != p_name %}{{ key }}={{ value }}&{% endif %}{% endfor %}{{ p_name }}={{ page_obj.previous_page_number }}">&laquo; Anterior</a>
            {% endif %}

            <span class="current">
                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?{% for key, value in request.GET.items %}{% if key != p_name %}{{ key }}={{ value }}&{% endif %}{% endfor %}{{ p_name }}={{ page_obj.next_page_number }}">Próxima &raquo;</a>
            {% endif %}
        {% endwith %}
    </span>
    {% endif %}
</div>
{% endif %}