{% extends "base.html" %}

{% block title %}Meu Perfil{% endblock %}

{% block content %}
<div class="page-header">
    <h1>Meu Perfil</h1>
    <a href="{% url 'password_change' %}" class="btn-secondary">Alterar Senha</a>
    <a href="{% url 'editar_perfil' %}" class="btn-primary">Editar Perfil</a>
</div>

<div class="form-container">
    <p><strong>Nome:</strong> {{ user.nome }}</p>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
</div>
{% endblock %}